<p id="notice"><%= notice %></p>

<h1>Glucose Levels</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Observation date</th>
      <th scope="col">Observations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @glucose_levels.each do |glucose_level| %>
      <tr>
        <td><%= glucose_level.observation_date.strftime("%d/%m/%Y") %></td>
        <td><%= glucose_level.observations.values %></td>
        <td><%= link_to 'Show', glucose_level %></td>
        <td><%= link_to 'Edit', edit_glucose_level_path(glucose_level) %></td>
        <td><%= link_to 'Destroy', glucose_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glucose Level', new_glucose_level_path, class: "btn btn-primary"  %>
